body {
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

img {
	display: none;
}
p{
	display: none;
}
iframe{
	display: none;
}
@media screen and (max-width: 300px){
img {
	display: block;
}
}
@media screen and (max-device-aspect-ratio: 4/3){
	p{display: block;}
	
}
@media (-webkit-min-device-pixel-ratio: 1), (min-resolution: 90dpi){
	display: block;

}