body {
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 5px;
}
article {
	margin: 2em 0;
}
#a {
	font-size: 2em;
}
#b {
	font-size: 4em;
}
#c {
	font-size: 6em;
}
